{
  "arrowParens": "always",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "endOfLine": "lf"
}